using System;
using System.Collections.Generic;
using System.Text;

namespace TheSign
{
    class build
    {
        static public string buildver="Build $WCREV$ $WCDATE$";
        static public string version = "0.1 Beta";
    }
}
